![Pictures/bbc_news_logo.png](Pictures/bbc_news_logo.png)

# <span style='color:Red; font-weight:bold;'> BBC News </span>

### <span style='color:aqua; font-weight:bold;'> About Dataset </span>

<b>Context<b>

Self updating dataset. It collects RSS Feeds from BBC News using a Kernel: https://www.kaggle.com/gpreda/bbc-news-rss-feeds .
    The Kernel is run with a fixed frequency and the dataset is updated using the output of the Notebook.

<b>Contents<b>

    BBC News RSS Feeds. The data contains the following columns:

    *title
    *pubDate
    *guid
    *link
    *description


<b>Collection method<b>

    Uses requests_html and BeautifulSoup to collect RSS Feeds from BBC News site.

<b>Acknowledgements<b>

    The content is proprietary of BBC

<b>Inspiration<b>

    Use the data to analyze the sentiment of news, from title and description

### <span style='color:aqua; font-weight:bold;'> Import Packages and Load the data </span>

In [22]:
#Essentails
import numpy as np
import pandas as pd

#Visulization
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as ex

#Modeling

In [14]:
news_df = pd.read_csv('bbc_news.csv')

# <span style='color:dodgerblue; font-weight:bold;'>Exploratory Data Analysis </span>

In [15]:
news_df.head() # First 5 rows

,title,pubDate,guid,link,description
0,Ukraine: Angry Zelensky vows to punish Russian...,"Mon, 07 Mar 2022 08:01:56 GMT",https://www.bbc.co.uk/news/world-europe-60638042,https://www.bbc.co.uk/news/world-europe-606380...,The Ukrainian president says the country will ...
1,War in Ukraine: Taking cover in a town under a...,"Sun, 06 Mar 2022 22:49:58 GMT",https://www.bbc.co.uk/news/world-europe-60641873,https://www.bbc.co.uk/news/world-europe-606418...,"Jeremy Bowen was on the frontline in Irpin, as..."
2,Ukraine war 'catastrophic for global food',"Mon, 07 Mar 2022 00:14:42 GMT",https://www.bbc.co.uk/news/business-60623941,https://www.bbc.co.uk/news/business-60623941?a...,One of the world's biggest fertiliser firms sa...
3,Manchester Arena bombing: Saffie Roussos's par...,"Mon, 07 Mar 2022 00:05:40 GMT",https://www.bbc.co.uk/news/uk-60579079,https://www.bbc.co.uk/news/uk-60579079?at_medi...,The parents of the Manchester Arena bombing's ...
4,Ukraine conflict: Oil price soars to highest l...,"Mon, 07 Mar 2022 08:15:53 GMT",https://www.bbc.co.uk/news/business-60642786,https://www.bbc.co.uk/news/business-60642786?a...,Consumers are feeling the impact of higher ene...

In [16]:
news_df.tail() # Last 5 rows

,title,pubDate,guid,link,description
37668,Finucane makes history with third medal in Paris,"Sun, 11 Aug 2024 11:24:03 GMT",https://www.bbc.com/sport/olympics/articles/ce...,https://www.bbc.com/sport/olympics/articles/ce...,Emma Finucane makes British Olympic history by...
37669,Family remember Alice at Southport funeral,"Sun, 11 Aug 2024 20:59:44 GMT",https://www.bbc.com/news/articles/cwyj8wz8157o#12,https://www.bbc.com/news/articles/cwyj8wz8157o,A final photo of Alice taken before the Taylor...
37670,'We will not allow hatred and mindless violenc...,"Sun, 11 Aug 2024 18:42:58 GMT",https://www.bbc.com/news/articles/c5y3w69vpgko#12,https://www.bbc.com/news/articles/c5y3w69vpgko,NI's chief constable condemns race hate attack...
37671,Unions to decide whether to call off bin strike,"Sun, 11 Aug 2024 17:51:07 GMT",https://www.bbc.com/news/articles/c39k0n7d2kgo#12,https://www.bbc.com/news/articles/c39k0n7d2kgo,Unions will meet on Monday to decide whether t...
37672,Welsh sixth-form uni applications lowest in UK,"Sun, 11 Aug 2024 21:00:08 GMT",https://www.bbc.com/news/articles/ckg2ngl23m0o#12,https://www.bbc.com/news/articles/ckg2ngl23m0o,A growing gap in applications between Wales an...

In [17]:
news_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37673 entries, 0 to 37672
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        37673 non-null  object
 1   pubDate      37673 non-null  object
 2   guid         37673 non-null  object
 3   link         37673 non-null  object
 4   description  37673 non-null  object
dtypes: object(5)
memory usage: 1.4+ MB

change pubDate data type please :D

In [18]:
news_df.isnull().sum()

title          0
pubDate        0
guid           0
link           0
description    0
dtype: int64

In [19]:
news_df.describe()

,title,pubDate,guid,link,description
count,37673,37673,37673,37673,37673
unique,35486,36051,34860,33854,34676
top,Election poll tracker: How do the parties comp...,"Tue, 13 Jun 2023 10:25:22 GMT",https://www.bbc.co.uk/news/business-61634959,https://www.bbc.co.uk/news/business-61634959?a...,How closely have you been paying attention to ...
freq,34,10,63,61,80

make a plot how many news per day. =/80

In [20]:
# Check for duplicates across all columns
duplicated = news_df.duplicated()

# Print the number of duplicated instances
print("Number of duplicated instances:", duplicated.sum())

# Print the duplicated instances
news_df[duplicated]

Number of duplicated instances: 0

Empty DataFrame
Columns: [title, pubDate, guid, link, description]
Index: []

# <span style='color:dodgerblue; font-weight:bold;'>Data Preproccesing</span>

# <span style='color:dodgerblue; font-weight:bold;'>Machine Learning</span>